{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Abhay Poddar">
    <link rel="icon" href="{% static 'hostelmanagement/sit-logo.png' %}">
    <title>{{ pageContext }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
  </head>
  <body>
    <!-- body suppressed for brevity ... -->
    <div class="col-md-12">
      <div class="container">
        <a href="/studentLogin/"><img class="mb-4 centered" src="{% static 'hostelmanagement/sit-logo.png' %}" alt="" width="72" height="72">Siddaganga Institute of Technology</a>
        <h3 class="form-signin-heading">{{ pageContext }}</h3>
      </div>
      <div class="container col-md-12">
        {% autoescape off %}
        {{ hostel }}
        {% endautoescape %}
      </div>
      <div class="container col-md-4">
        <form class="form-signin" action="." method="post">
          {%csrf_token%}
          {% for error in form.non_field_errors %}
          <div class="form-group has-errors text-danger small">
            {{error}}
          </div>
          {% endfor %}
          {% for field in form %}
          <div class="form-group has-errors text-danger small">
            {{field.errors}}
          </div>
          <div class="form-group has-errors text-danger small">
          </div>
          <div class="form-group">
            {{field}}
            <p class="help">{{ field.help_text}}</p>
          </div>
          {% endfor %}
          <button class="btn btn-primary" style="width:100%">{{ buttonText }}</button>
        </form>
      </div>
    </div>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
